@import "../../sass/components.scss";
@import "../../sass/variables.scss";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 3rem;
}

#book-container {
  display: flex;
  justify-content: center;

  img {
    width: 50%;
    border: $border-config;
    cursor: pointer;
    transition: 0.1s all;

    &:hover {
      transform: translate(-0.188rem, -0.188rem);
      box-shadow: $box-shadow-config;
    }
  }
}

#menu-sale {
  width: 90%;

  .box-shadow-menu {
    background: #fff;
    padding: 1rem;
    border: $border-config;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5px 0;
  }

  #price-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    #price {
      font-size: 2rem;
    }

    div {
      button {
        @extend .button-component;
        font-size: 1.6rem;
        background: $wine
;
        color: $white;
        &:hover {
          transform: none;
          box-shadow: none;
        }

        &:first-child {
          border-radius: 5rem 0 0 5rem;
          border-right-width: 0;
        }
        &:last-child {
          border-radius: 0 5rem 5rem 0;
          border-left-width: 0;
        }
      }

      input {
        @extend .input-component;
        font-size: 1.6rem;
        width: 5rem;
        text-align: center;
      }
    }
  }

  .buttons-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    button {
      width: 100%;
      padding: 1rem;
      background-color: $yellow;
      color: #000;
      border: $border-config;
      font-weight: 900;
      transition: 0.1s;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        background-color: $wine
;
        color: $white;
        transform: translate(-5px, -5px);
        box-shadow: 5px 5px 0 #000;
      }
    }
  }

  #cep-info {
    hr {
      margin: 2rem 0;
    }

    h4 {
      font-size: 1.6rem;
    }

    input {
      @extend .input-component;
      font-size: 1.3rem;
      margin-top: 10px;
    }
  }
}

// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
