@font-face {
  font-family: 'Title Font';
  src: url('../assets/3d07f5abf272fbb5670d02ed687453d0.woff2') format('woff2');
}

.title {
  font-family: 'Title Font';
  text-transform: uppercase;
}

.button, .input {
  font-family: "Inconsolata", sans-serif;
  border-radius: 5rem;
}

.button {
  cursor: pointer;
  padding: 1rem;
  background: var(--green);
  color: #000;
  border: var(--border-config);
  font-weight: 900;
  transition: .1s;
  
  &:hover {
    transform: translate(-3px, -3px);
    box-shadow: var(--box-shadow-config);
  }
}
