@import "./variables.scss";

@font-face {
  font-family: "Title Font";
  src: url("../assets/3d07f5abf272fbb5670d02ed687453d0.woff2") format("woff2");
}

.title-component {
  font-family: "Title Font", sans-serif;
  text-transform: uppercase;
}

.button-component,
.input-component {
  font-family: "Inconsolata", sans-serif;
}

.input-component {
  border: $border-config;
  padding: 1rem;
}

.button-component {
  cursor: pointer;
  border-radius: 5rem;
  padding: 1rem;
  background: $green;
  color: #000;
  border: $border-config;
  font-weight: 900;
  transition: 0.1s;

  &:hover {
    transform: translate(-3px, -3px);
    box-shadow: $box-shadow-config;
  }
}

.div-horizontal {
  display: flex;
  
}

.div-vertical {
  display: flex;
  flex-direction: column;
}
