@import "./components.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-margin {
  margin-top: $header-size;
}

body {
  background: $white;
  font-family: sans-serif;
  color: #000;
}

// width
::-webkit-scrollbar {
  background: $black;
  width: 1rem;
}

// Track
::-webkit-scrollbar-track {
  border-radius: 10px;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $light-red;
  border-radius: 10px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: $red;
}
