@import "./components.scss";

:root {
  --border-config: 3.5px solid #000;
  --box-shadow-config: 0.188rem 0.188rem 0 #000;
  --header-size: 3.944rem;

  --white: #eff7cf;
  --green: #bad9b5;
  --green1: #68cf58;
  --black: #3a3a3a;
  --wine: #420c14;
  --red: #9f2a2a;
  --light-red: #c25f5f;
  --yellow: #aba361;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  font-family: sans-serif;
  font-weight: 700;
  color: #000;
}

// width
::-webkit-scrollbar {
  background: var(--black);
  width: 1rem;
}

// Track
::-webkit-scrollbar-track {
  border-radius: 10px;
}

// Handle
::-webkit-scrollbar-thumb {
  background: var(--light-red);
  border-radius: 10px;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: var(--red);
}
