@import "../../sass/components.scss";

.container-1 {
  $SCROLL_SIZE: calc(2rem + 2px);

  background: var(--wine);
  color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: calc(100vh - var(--header-size) - $SCROLL_SIZE);
  padding: 0 5rem;
  
  .subcontainer {
    .title {
      @extend .title-component;
      font-size: 3.5rem;
      margin-bottom: 2rem;
    }

    .search-input {
      margin-top: 2rem;
      background: var(--white);
      display: flex;
      flex-direction: row;
      padding: 1rem;
      border-radius: 1rem 5rem 5rem 1rem;
      box-shadow: 2px 2px 5px var(--yellow);
    
      input, button {
        font-size: 2rem;
      }
    
      input {
        background: var(--white);
        color: var(--wine);
        font-family: sans-serif;
        padding: 1rem;
        width: 100%;
        border: none;
      }
    
      button {
        @extend .button-component;
      }
    }
  }
}

.container-2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  .title {
    @extend .title-component;
    font-size: 3rem;
  }
  
  .subcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    justify-content: center;
    margin-top: 4rem;
    gap: 1rem;

    img {
      width: 100%;
      border: var(--border-config);
      box-shadow: var(--box-shadow-config);
      cursor: pointer;
      transition: .1s all;

      &:hover {
        transform: translate(-.1rem, -.1rem);
        box-shadow: 0.288rem 0.288rem;
      }
    }
  }
}

.infinite-animation {
  display: flex;
  overflow: hidden;
  border-top: 2px solid var(--white);
  background: var(--red);
  color: var(--white);
  padding: 0.5rem;

  p {
    white-space: nowrap;
    animation: scrollLeft 45s infinite linear;
  }
}
  
@keyframes scrollLeft {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}
