@import "../../sass/components.scss";

.container-1 {
  background: var(--green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 2rem);
  padding: 5rem;
  gap: 1rem;

  .subcontainer {
    .title {
      @extend .title;
      font-size: 5rem;
      margin-bottom: 3rem;
    }

    span {
      font-size: 1.2rem;
    }
  
    .search-input {
      background: #fff;
      display: flex;
      flex-direction: row;
      padding: 1rem;
      margin-top: 3rem;
      border-radius: 5rem;
      box-shadow: 2px 2px 5px gray;
    
      input, button {
        font-size: 2rem;
      }
    
      input {
        font-family: sans-serif;
        padding: 1rem;
        width: 100%;
        border: none;
      }
    
      button {
        @extend .button;
      }
    }
  }
}

.container-2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;

  .title {
    @extend .title;
    font-size: 3rem;
  }
  
  .subcontainer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    gap: 1rem;

    img {
      width: 10%;
      border: var(--border-config);
      box-shadow: var(--box-shadow-config);
    }
  }
}

.infinite-animation {
  display: flex;
  overflow: hidden;
  background: #000;
  color: #fff;
  padding: 0.5rem;

  p {
    white-space: nowrap;
    animation: scrollLeft 12s infinite linear;
  }
}
  
@keyframes scrollLeft {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}
