@import "../../sass/components.scss";
@import "../../sass/variables.scss";

.container {
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: $wine;
  padding: 1rem 5rem;
  z-index: 1;

  .title {
    @extend .title-component;
    text-decoration: none;
    font-size: 1.5rem;
    color: $white;
  }

  span {
    color: $white;
    margin-left: 1rem;
  }

  .left-menu {
    display: flex;
    align-items: center;

    b {
      cursor: pointer;
    }
  }

  .right-menu {
    gap: 1.5rem;
    color: $white;
  }
}
